- if @score.exit_status == 0
  %form{ :action => "/pdf/#{@score.filename}.pdf", :method => 'get', :style => 'display:inline;' }
    %button Download PDF
  &nbsp;&nbsp;
  - if @score.image_files.length >= 2
    %button(onclick='previousPage()') Previous Page
    %button(onclick='nextPage()') Next Page
  = javascript_tag "imageFiles = #{array_or_string_for_javascript @score.image_files}"
  %br
  %image.score(src='/#{@score.image_files[0]}' id='page')

- elsif @score.exit_status != 0
  #lilypond_errors
    %h2 Something is wrong with your input!
    %strong Lilypond Output:
    = simple_format h(@score.lilypond_output)
