%h2 Trash

%table
  - @scores.each do |score|
    %tr
      %td= link_to score.name, score
      %td= link_to 'Restore', trash_path(score), :method => :put
      %td= link_to 'Delete Permenantly', trash_path(score), :method => :delete, :confirm => 'Are you sure you want to permanently delete this Document?'

%br

= form_tag destroy_all_trashes_path do
  = submit_tag 'Empty Trash'
